---
import Image from "astro/components/Image.astro";

const show = Astro.props;

const imageSrc:string = `/assets/images/show-posters/${show.slug}.jpg`;
const imageAlt:string = `Affiche de ${show.title}`;
---

<button class="c-show-card">
    <div class="c-show-card___content">
        <h2>{show.title}</h2>
        <Image src={imageSrc} alt={imageAlt}  loading="lazy"  decoding="async"  width=1200 height=1800 />
    </div>
    <Image class="c-show-card__backdrop" loading="lazy"  decoding="async" width=1200 height=1800 src={imageSrc} alt={imageAlt} />
</button>

<script>
	import { openModal } from '../../utils/openModal';
	// Find all buttons with the `alert` class on the page.
	const showCards = document.querySelectorAll('.c-show-card');
  
	// Handle clicks on each button.
	showCards.forEach((card) => {
	  card.addEventListener('click', (e) => {
		openModal(e);
	  });
	});

</script>

<style lang="scss">
    .c-show-card {
        position: relative;
        aspect-ratio: 1/1.50;
        width: 100%;
		cursor: pointer;
        color: var(--color-white);

        &___content {
            position: relative;
            width: 100%;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 42px;
            box-sizing: border-box;
            border-radius: 12px;
            overflow: hidden;

            background-color: beige;

            h2{
                position: relative;
                font-weight: 800;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__backdrop {
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(60px);
        }
    }
</style>
